
.carousel-one {
	background-image: url('/imgs/activities/run.svg');
	height: 100%;
	background-size: cover;
	background-position: center;
}
.carousel-two {
	background-image: url('/imgs/activities/paint.svg');
	height: 100%;
	background-size: cover;
	background-position: center;
}
.carousel-three {
	background-image: url('/imgs/activities/chess.svg');
	height: 100%;
	background-size: cover;
	background-position: center;
}
.carousel-four {
	background-image: url('/imgs/activities/football.svg');
	height: 100%;
	background-size: cover;
	background-position: center;
}