
.navbar {
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 32px;
	align-items: center;
}
.links {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	button {
		margin-left: 24px;
		svg {
			margin-left: 8px;
		}
	}
	span {
		cursor: pointer;
	}
}

.logo {
	img {
		width: 146px;
		height: 45px;
	}
}

@media (max-width: 1024px) {
	.navbar {
		// margin-top: -1rem;
		padding: 16px 16px;
		padding-bottom: 0px;
	}
	.logo {
		img {
			width: 92px !important;
			height: 28px !important;
		}
	}
	.links {
		padding-right: 0;
	}
}