@import "../../imports/colors";

.aboutContainer {
	margin-bottom: 60px;
	// h4 {
	// 	padding-top: 60px;
	// 	text-transform: uppercase;
	// 	text-align: center;
	// 	font-weight: 700;
	// 	font-size: 24px;
	// 	line-height: 29px;
	// 	color: $mainColor;
	// 	margin-bottom: 56px;
	// }
}

.values,
.story {
	h5 {
		font-weight: 700;
		font-size: 36px;
		line-height: 43px;
		text-transform: capitalize;
		margin-bottom: 34px;
	}
	p {
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
	}
}

.values {
	margin-top: 42px;
}