@import "../../imports/colors";

.aboutContainer {
	margin-bottom: 60px;
}

.values,
.story {
	h5 {
		font-weight: 500;
		font-size: $lgTextSize;
		line-height: $lgLineHeight;
		text-transform: capitalize;
		margin-bottom: 34px;
	}
	p {
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
	}
}

.values {
	margin-top: 42px;
}

@media (max-width: 1024px) {
	.values,
	.story {
		h5 {
			font-size: $smTextSize;
			line-height: $smLineHeight;
			margin-bottom: 16px;
		}
		p {
			font-size: $aboutParagraphSize;
			line-height: $aboutParagraphLineHeight;
		}
	}
}